*{
    box-sizing: border-box;
}

.collage{
    padding-top:11%;
    padding-bottom:5%;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding:0;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.column img{
    vertical-align: middle;
    width: 100%;
}

.column img:hover{
    -webkit-filter:grayscale(100%);
}


@media (max-width:800px){
    .column{
        flex:50%;
        max-width:50%;
    }
}