@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600&family=Noto+Sans:ital,wght@1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600&family=Noto+Sans:ital,wght@1,700&display=swap');

.cont{
    height: max-content;
    position: relative;
}
h1{
    color:white;
    text-align:left;
}

h2{
    color:gray;
    text-align:right;
}

.Maps{
    filter:grayscale(100%) invert(100%);
    padding-top: 3%;
    padding-bottom: 5%;

}
.responsive-iframe{
    width:80%;
    border-width:2px;
    border-style: double;
}

.ourhours{
    padding-left: 3%;
    transform:rotate(-10deg);
}

.textContainer{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    
}

@import url('../pages/hours-css/hours-sm.css') (max-width: 767px);

@import url('../pages/hours-css/hours-md.css') (max-width: 991px) and (min-width: 768px);

@import url('../pages/hours-css/hours-lg.css')(min-width: 992px);