.Wrapper{
    height: 100vh;
    width: 100vw;
    font-size: small;
    align-items: center;
    flex-direction: row;
    position: relative;
    /* position: absolute; */
}

.videoContainer{
    width: 100%;
    height: 100vh; 
    top: 0;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    
}

.videoTag{
    height: 110%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
}

.cover{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}