.background-wrapper{
    width: 100vw;
    /* position: absolute; */
    padding: 30px 0px 20px 0px;
    object-fit: cover;
    height: max-content;
    /* style={{backgroundImage:`url(${masterbg})`}} */
    /* backgroundImage: url{} */
}

.big{
    width: 100vw;
    position: relative;
    padding: 30px 0px 20px 0px;
    object-fit: cover;
    height: max-content;
}

.menu_containers{
    position: absolute;
    /* background-color: orange; */
    /* top: 5%;
    left: 5%; */
    /* height: 90%;
    width: 90%; */
    justify-items: auto;

    /* flex-direction: row; */
    align-items: flex-start;
    display: flex;
}

.menu{
    margin-left: 5%;
    margin-right: 1%;
    display: flex;
    height: 90%;
    width: 90%;
    margin-top: 5%;
    /* background-color: red; */
    align-self: auto;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.menutitle{
    /* background-color: aquamarine; */
    width: 100%;
    height: 10%;
    font-size: 43px;
    font-weight: 500;
}
.img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

@import url('../pages/menus-css/menus-sm.css') (max-width: 999px);
@import url('../pages/menus-css/menus-md.css') (max-width: 1500px) and (min-width: 1000px);
@import url('../pages/menus-css/menus-lg.css') (min-width: 1501px);

.image-container {
    padding: 5%;
    width: 100vw;
}

.image-food {
    width: 100%;
}

.title-container {
    width: 100vw;
    display: flex;
    padding-left: 5%;
    color: white;
    /* font-size: 2em; */
    font-size: 4em;
}

.arrow-container {
    margin-left: 12px;
}

.arrow {
    color: white;
    transition: 0.2s;
}

.arrow:hover {
    color: grey;
}

.body-container {
    margin-top: 20px;
    display: flex;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 1.5em;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 800px) {
    .title-container {
        font-size: 2em;
    }

    .body-container {
        display: block;
        font-size: 0.5em;
    }
}